{$CADDY_DOMAIN}:{$PORT} {
	tls {$CADDY_EMAIL}
	encode gzip
	respond /healthcheck 200
	handle /assets/index* {
		basicauth {
			{$USER} HASH
		}
		reverse_proxy * localhost:18000
	}
	reverse_proxy * localhost:18000
}
